h3 GPS

div#gps_image
    img.svg(src=icon)

div#gps_toolbar_display.gps_values
    a.latlon
        span.units lat &nbsp;
        span.value !{lat} &nbsp;
        span.units lon &nbsp;
        span.value !{lon} &nbsp;
    a.fix_type
        span.units fix_type &nbsp;
        span.value !{fix_type} &nbsp;
    a.stats
        span.units satellites_visible &nbsp;
        span.value !{satellites_visible} &nbsp;